<nav id="mediaMenu" class="navbar navbar-expand-lg navbar-light">

    <div class="collapse navbar-collapse navbarCombine" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link LeftB">Left Bias </a>
            </li>
            <li class="nav-item">
                <a class="nav-link LCB" >Left-Center Bias </a>
            </li>
            <li class="nav-item">
                <a class="nav-link LeastB">Least Biased </a>
            </li>
            <li class="nav-item">
                <a class="nav-link RCB" >Right-Center Bias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link RB" href="">Right Bias </a>
            </li>
            <li class="nav-item">
                <a class="nav-link PS" href="">Pro-Science </a>
            </li>
            <li class="nav-item">
                <a class="nav-link QS" href="">Questionable Sources </a>
            </li>
        </ul>

        <div class="custom-control custom-switch pr-1">
            <input type="checkbox" class="custom-control-input" id="customSwitches">
            <label class="custom-control-label" for="customSwitches" style="color: #00005c">Dark
                Mode</label>
        </div>


        <span class="navbar-text d-none d-lg-block d-xl-block">
            <form class="form-inline" style="float:right">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn my-2 my-sm-0" style="border-color: #e3e8fd" type="
                    submit">Search</button>
            </form>
        </span>
    </div>
</nav>



<span class="navbar-text d-lg-none d-xl-none mr-auto searchBar">
    <form class="form-inline" style="">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0" style="border-color: #e3e8fd" type="
            submit">Search</button>
    </form>
</span>
