<!-- Media Menu Nav -->

<nav id="mediaMenu" class="navbar navbar-expand-lg navbar-light">

    <div class="collapse navbar-collapse navbarCombine" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link LeftB" href="/left_bias">Left Bias </a>
            </li>
            <li class="nav-item">
                <a class="nav-link LCB" href='/left_center_bias' >Left-Center Bias </a>
            </li>
            <li class="nav-item">
                <a class="nav-link LeastB" href="/least_bias">Least Biased </a>
            </li>
            <li class="nav-item">
                <a class="nav-link RCB" href="/right_center_bias" >Right-Center Bias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link RB" href="/right_bias" >Right Bias </a>
            </li>
            <li class="nav-item">
                <a class="nav-link PS" href= '/pro_science'>Pro-Science </a>
            </li>
            <li class="nav-item">
                <a class="nav-link QS" href='/questionable_sources' >Questionable Sources </a>
            </li>
        </ul>

        <span class="navbar-text d-none d-lg-block d-xl-block">
            <form class="form-inline" action="/index/keywords" method="GET">
                <input class="form-control mr-sm-2" type="search" name="user_search" placeholder="Search" aria-label="Search">
                <button class="btn my-2 my-sm-0 searchBtnMediaMenu"  type="submit">Search</button>
            </form>
        </span>
    </div>
</nav>
