<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header %>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title>Admin</title>
</head>

<body id="dashBody">
    <% include ./partials/menu %>
    <% include ./partials/mediaMenu %>
    <h1>Admin Page to manage Users</h1>
    <div class="smth">
        <p>Here is some text dashboard</p>
    </div>
    <table id='userTable'>
   		<tbody>
  	 		<tr>
  	 			<th>
  	 				User Name
  	 			</th>
  	 			<th>
  	 				Email
  	 			</th>
          <th>Action</th>
  	 		 </tr>
   		</tbody>
   	</table>

    <script>const userTable = document.querySelector('#userTable')
            console.log(userTable);
            //const specificUser = require("../models/User")
            userTable.addEventListener('click', deleteUser)
            var userCheck = <%- JSON.stringify(allUsers)%>
            userCheck.forEach(function(user){
              addUserToTable(user)
            });
            function addUserToTable(user) {
           	const nameOfUser = document.createElement("td")
           	nameOfUser.appendChild(document.createTextNode(user.name))
           	const bold = document.createElement("strong")
           	bold.appendChild(document.createTextNode(user.email))
           	const email = document.createElement("td")
           	email.appendChild(bold)
           	const action = document.createElement("td")
             action.innerHTML = "<button class='return'>Remove</button>"
           	const row = document.createElement("tr")
           	row.appendChild(nameOfUser)
           	row.appendChild(email)
           	row.appendChild(action)
           	tablebody = userTable.querySelector('tbody')
           	tablebody.appendChild(row)
          }

          function deleteUser(e){
            e.preventDefault();
          	// check if return button was clicked, otherwise do nothing.
          	if(e.target.classList.contains('return')){
              console.log(e.target.parentElement.parentElement.rowIndex);
            //  specificUser.deleteUserbyId(e.target.parentElement.parentElement.rowIndex - 1)
              userTable.deleteRow(e.target.parentElement.parentElement.rowIndex)
            }
          }
    </script>
    <% include ./partials/script %>
    <!-- <script type="text/javascript" src="/admin.js"></script> -->
</body>


</html>
