<!DOCTYPE html>
<html>

<head>
    <% include ./partials/header %>
</head>

<body id="dashBody">
    <% include ./partials/menu %>
    <p><%= title %></p>
    <h1>Welcome <%= user.name %></h1>
    <div class="smth">
        <p>Here is some text</p>
    </div>
    <% include ./partials/script %>
</body>


</html>