<!DOCTYPE html>
<html>


<head>
    <% include ./partials/header %>
</head>

<body id="dashBody">
    <% include ./partials/menu %>

   
<div class="heading">
    User's Media Consumption Diet
</div>

<div>
        <div class="chart"></div>

        <ul class="key">
          <li>
            <strong class="percent red">30%</strong>
            <span class="choice">Right-biased</span>
          </li>
          <li>
            <strong class="percent blue">50%</strong>
            <span class="choice">Left-biased</span>
          </li>
          <li>
            <strong class="percent orange">20%</strong>
            <span class="choice">Undefined</span>
          </li>
        </ul>
</div>
</body>

<% include ./partials/script %>

</html>

<!-- 
    Citation:
    https://css-tricks.com/making-charts-with-css/ 
    Used the above website as a reference to understand how to build charts interactively
-->
