<!-- Dashboard Page -->
<!DOCTYPE html>
<html>


<head>
    <% include ./partials/header %>
    <% include ./partials/cssLink %>
</head>

<body id="dashBody">
    <% include ./partials/menu %>
    <% include ./partials/mediaMenu %>

    <div class="dropdown d-flex justify-content-center filter-dash">
        <h4 class="d-inline-block align-middle heading">User's Media Consumption Diet</h4>
        <button class="btn  dropdown-toggle smth" type="button" id="dropdownMenu2" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Filter
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" id="today" type="button">Today</button>
            <button class="dropdown-item" id="thisWeek" type="button">This Week</button>
            <button class="dropdown-item" id="thisMonth" type="button">This Month</button>
            <button class="dropdown-item" id="eternity" type="button">Eternity</button>
        </div>
    </div>

    <canvas id="Schart" width="800" height="450"></canvas>

    <div class="container">
        <form action="/dash" method="POST" class="mt-5">
            <div class="form-group row">
                <div class="col-lg-4 offset-4 text-center">
                    <label for="urlSubmit" class="">Add New News URL</label>
                    <div class="">
                        <input name="urlToSubmit" type="text" class="form-control" id="urlSubmit"
                            placeholder="https://gocrazy">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <% include ./partials/script %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="/javascripts/pieChart.js"></script>
</body>

</html>

<!-- 
    Citation:
    https://css-tricks.com/making-charts-with-css/ 
    Used the above website as a reference to understand how to build charts interactively
-->