<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header %>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
  <% include ./partials/menu %>

  <% include ./partials/mediaMenu %>

  

  <div class="content">
    <div class="row justify-content-center main-body">
<!--
       <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="https://www.noupe.com/wp-content/uploads/2016/09/basketball_shot-666x418.jpg"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0">Columns with stretched link</h5>
            <p>
            </p>
            <a href="#" class="stretched-link">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="https://www.noupe.com/wp-content/uploads/2016/09/basketball_shot-666x418.jpg"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0">Columns with stretched link</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
              fringilla.Donec lacinia congue felis in
              faucibus.
            </p>
            <a href="#" class="stretched-link">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="https://www.noupe.com/wp-content/uploads/2016/09/basketball_shot-666x418.jpg"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0">Columns with stretched link</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
              fringilla.Donec lacinia congue felis in
              faucibus.
            </p>
            <a href="#" class="stretched-link">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="https://www.noupe.com/wp-content/uploads/2016/09/basketball_shot-666x418.jpg"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0">Columns with stretched link</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
              fringilla.Donec lacinia congue felis in
              faucibus.
            </p>
            <a href="#" class="stretched-link">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-10 d-flex align-items-stretch">
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">
          <div class="col-md-4 mb-md-0 p-md-4">
            <img src="https://www.noupe.com/wp-content/uploads/2016/09/basketball_shot-666x418.jpg"
              class="w-100 rounded" alt="">
          </div>
          <div class="col-md-8 position-relative p-4 pl-md-0">
            <h5 id="newsTitle" class="mt-0">Columns with stretched link</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
              odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
              fringilla.Donec lacinia congue felis in
              faucibus.
            </p>
            <a href="#" class="stretched-link">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card-deck" style="padding: 80px">
      <div class="card" style="border-radius: 40px">
        <img class="card-img-top" src="https://www.noupe.com/wp-content/uploads/2016/09/basketball_shot-666x418.jpg"
          alt="Card image cap" style="border-radius: 40px; padding: 10px">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.
            This cnjcndjncjndjncjdnjcndjncjdnjcndjncjdnjcndjncjdncjndjontent is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="https://www.noupe.com/wp-content/uploads/2016/09/basketball_shot-666x418.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="https://www.noupe.com/wp-content/uploads/2016/09/basketball_shot-666x418.jpg"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- </div> -->
  <script>
    window.onscroll = function () { myFunction() };

    var navbar = document.getElementById("mediaMenu");
    var sticky = navbar.offsetTop;

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
      } else {
        navbar.classList.remove("sticky");
      }
    }
  </script>
  <script>
    let dummy_data = <%- JSON.stringify(dummy_data) %>

    let main_body = document.querySelector('.main-body');
    console.log(main_body);
    
    for (let i =0; i < dummy_data.length; i++){
      const image = dummy_data[i].top_image
      const summary = dummy_data[i].summary
      const url = dummy_data[i].url
      const title = dummy_data[i].title
      const bias = dummy_data[i].bias
      const mbfc = dummy_data[i].mbfc
      
      let tile = '<div class="col-10 d-flex align-items-stretch">\
        <div class="row no-gutters bg-light position-relative mt-4" id="firstNews">\
          <div class="col-md-4 mb-md-0 p-md-4">\
            <img src="'+image+'"\
              class="w-100 rounded" alt="">\
          </div>\
            <div class="col-md-8 position-relative p-4 pl-md-0">\
              <h5 id="newsTitle" class="mt-0">' + title +'</h5>\
              <p href="'+ url +'" class="stretched-link" style="position: relative;">' + summary + '\</p>\
            <div><strong>Bias: ' + bias + '</strong></div>\
              <div>\
                <a href="'+url+'" class="stretched-link" style="position: relative;">Link to news</a></div>\
                <p style="transform: rotate(0);">\
                 <a href = '+ mbfc + '" class="text-warning stretched-link" > Bias Breakdown</a > \
                 </p >\
                </div>\
          </div>\
        </div>'
    main_body.innerHTML += tile
    }
    
    // console.log("Logging dummy data");
        
    // const left_bias = document.querySelector('.LeftB')
    // console.log(left_bias)
    // const left_center_bias = document.querySelector('.LCB')
    // const least_bias = document.querySelector('.LeastB')
    // const right_center_bias = document.querySelector('.RCB')
    // const right_bias = document.querySelector('.RB')
    // const pro_science = document.querySelector('.PS')
    // const questionable_sources = document.querySelector('.QS')

    // left_bias.addEventListener("click",filter_lb)
    // left_center_bias.addEventListener("click",filter_lcb)
    // least_bias.addEventListener("click", filter_leastb)
    // right_center_bias.addEventListener("click", filter_rcb)
    // right_bias.addEventListener("click", filter_rb)
    // pro_science.addEventListener("click", filter_ps)
    // questionable_sources.addEventListener("click", filter_qs)

    // function filter_lb(e){
    //   console.log(dummy_data.left_bias)
    // }
    // function filter_lcb(e) {
    //   console.log(dummy_data.left_center_bias);
      
    // }
    // function filter_leastb(e) {
    //   console.log(dummy_data.least_bias);
      
    // }
    // function filter_rcb(e) {
    //   console.log(dummy_data.right_center_bias);
    // }
    // function filter_rb(e) {
    //   console.log(dummy_data.right_bias);
      
    // }
    // function filter_ps(e) {
    //   console.log(dummy_data.pro_science)
    //   }
    // function filter_qs(e) {
    //   console.log(dummy_data.questionable_sources);
    // }

    
  </script>
</body>
<% include ./partials/script %>

</html>