.navbar {
  font-family: "Playfair Display";
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-image: linear-gradient(
    -225deg,
    #473b7b 0%,
    #3584a7 51%,
    #30d2be 100%
  ); */
  background-color: #2e2d2d !important;
}

.mainLogo {
  max-width: 100%;
  height: 50vh;
  background-color: black;
}

.articleImages {
  max-height: 250px;
  max-width: 350px;
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  animation: fadeMe 0.3s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  background-color: #000000;
  z-index: 10;
}

@keyframes fadeMe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.navbar-brand {
  font-weight: bold;
  font-size: 40px !important;
  color: #ffffff !important;
}

.navbar .navbar-brand:hover {
  color: #ffac62 !important;
}

.navbar .headerLogo {
  display: none;
}

#bias {
  margin-left: 30%;
  color: #ffffff;
}

/* #heree {
  float: right;
} */

#header .navbar-toggler {
  border: none;
  outline: none;
}

#mediaMenu.navbar .navbar-nav li a {
  color: #ffffff !important;
  opacity: 1;
}

#mediaMenu .searchBtnMediaMenu {
  border-color: #e3e8fd;
  color: #e3e8fd;
}

#header .searchHeader {
  border-color: #e3e8fd;
}

/* .searchBar {
  /* justify-content: space-evenly !important; */

#header.navbar .navbar-nav li a {
  color: #ffffff !important;
  font-size: 20px !important;
  float: right;
}

#mediaMenu .navbar-nav .nav-item .nav-link:hover {
  color: #ffac62 !important;
}

#header .navbar-nav .nav-item .nav-link:hover {
  color: #ffac62 !important;
}

#mediaMenu.navbar .navbar-nav li a {
  font-size: 20px !important;
  float: right;
}

#newsTitle {
  font-family: "Playfair Display";
  font-weight: bold;
}

#mediaMenu .navbar .navbar-text .btn-primary,
.btn:hover,
.btn:active,
.btn:visited {
  background-color: #ffac62 !important;
}

.readMoreLess {
  background-color: rgb(255, 255, 255) !important;
  border-color: #556297 !important;
}

.readMoreLess:hover {
  background-color: #ffac62 !important;
}

.jumbotron {
  padding-left: 100px !important;
  padding-right: 100px !important;
  background-color: transparent !important;
}

#firstNews {
  border-radius: 25px !important;
}

#dashBody {
  color: #ffffff;
}

#dashBody .smth {
  background-color: #ffffff;
  color: black;
}

@media screen and (min-width: 991px) {
  .sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 1000 !important;
    background-image: linear-gradient(
      -225deg,
      #473b7b 0%,
      #3584a7 51%,
      #30d2be 100%
    );
    /* background-color: rgb(230, 130, 73); */
  }

  .sticky + .content {
    padding-top: 60px !important;
  }
}

#search-icon {
  display: none;
  width: 100% !important;
  max-height: 30px !important;
  stroke-width: 4 !important;
}

@media screen and (max-width: 991px) {
  #header .search-icon {
    max-width: 30px !important;
    margin: 0px !important;
  }

  #header .search-icon:hover {
    cursor: pointer;
  }

  #header .navbar-toggler {
    display: flex !important;
    margin-left: auto !important;
    padding: 5px !important;
    border: none;
    outline: none;
    margin: 0px !important;
    /* padding: 5px !important; */
  }

  .search-svg {
    max-width: 30px !important;
    max-height: 30px !important;
    display: flex !important;
    padding: 0px !important;
    position: relative !important;
    float: right !important;
    cursor: pointer !important;
  }

  .mainLogo {
    display: none;
  }
  .navbar .headerLogo {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-color: #000000;
  }
}

@media screen and (max-width: 420px) {
  #header .navbar-brand {
    font-weight: bold;
    font-size: 30px !important;
  }
}

/*# sourceMappingURL=style.css.map */

/* Search
    Citation:
    https://www.w3schools.com/howto/howto_css_fullscreen_search.asp
    Used the above website as a reference to understand how to build charts interactively
 */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  animation: 750ms 1 forwards ani;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay button {
  /* background-color: ; */
  color: white;
}

/*Pie Chart CSS Code: */

.dropdown .heading {
  padding: 5px !important;
}

.dropdown .btn .smth {
  display: inline-block !important;
  vertical-align: middle !important;
  float: none !important;
  background-color: black !important;
  outline: white;
}

#Schart {
  max-width: 800px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* #dash {
  color: #ffffff;
} */
.dash {
  color: #ffffff !important;
}
#userTable {
  margin: auto;
  color: #ffffff;
}

.title {
  text-align: center;
  color: #ffffff;
}

#userTable,
td,
th {
  border-collapse: collapse;
  border: 1px solid black;
  color: #ffffff;
}

td,
th {
  min-width: 200px;
}

h4 {
  margin-top: 5px;
  margin-bottom: 2px;
}

.green {
  color: green;
}

.red {
  color: red;
}
